body{
    margin: 0%;
    padding: 0%;
    background-color: lightblue;
    background-image: url("pexels-lynxexotics-3802510.jpg");
    background-size: cover;
}
p{
    font-family: arial;
    font-size: 50px ;
    font-weight:70px ;
    font-style: italic;
}
img{
    float:right;
    margin-right: 50px;
    border:black solid 5px;
    border-radius: 20px;

}